<div class="login-container">
    <!-- Left Section (Login Form) -->
    <div class="login-right">
        <img class="img" src="assets/images/sign.png" alt="Apartment photo" />
    </div>

    <!-- Right Section (Branding + Chat) -->
    <div class="login-left">
        <div class="head">
            <img class="img" src="assets/images/lac_logo.png" alt="Apartment photo" />
            <p>Legal Aid Commission</p>
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="one">
                <h2>Sign in</h2>
                <p>It's quick and easy to get started.</p>
            </div>

            <div class="two">
                <!-- <button mat-stroked-button class="full-width google-button">
                    <img src="https://img.icons8.com/color/16/google-logo.png" />
                    Sign in with Google
                </button> -->

                <!-- <div class="vid">
                    <mat-divider vertical></mat-divider>
                    <p>or</p>
                    <mat-divider vertical></mat-divider>
                </div> -->

                <div class="fields">
                    <div class="fie">
                        <label class="input-label">
                            Username <span class="required">*</span>
                        </label>
                        <input type="text" name="username" [(ngModel)]="username" class="custom-input"
                            placeholder="Enter username" required />
                    </div>

                    <!-- <mat-error>username is required</mat-error> -->
                    <div class="fie">
                        <label class="input-label">
                            Password <span class="required">*</span>
                        </label>
                        <input matInput type="password" name="password" [(ngModel)]="password" class="custom-input"
                            placeholder="Enter your password" required />
                    </div>

                    <!-- <mat-error>password is required</mat-error> -->
                </div>


                <!-- <button mat-raised-button class="full-j">Sign in</button> -->
                <button mat-stroked-button class="full-width sign-button">
                    Sign in
                </button>
            </div>

            <p *ngIf="error" class="error">{{ error }}</p>
            <!-- <p class="signup-text">
                Don't have an account? <a href="#">Sign up</a>
            </p> -->
            <mat-progress-bar *ngIf="loading" mode="buffer" color="primary"></mat-progress-bar>

        </form>
        <!-- <mat-progress-bar *ngIf="loading" mode="buffer" color="primary"></mat-progress-bar> -->
    </div>
</div>