.login-container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;

    .login-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: white;
        text-align: center;
        align-items: center;
        gap: 100px;
        // justify-content: space-between;
        // margin-bottom: 100px;

        .error {
            color: red;
        }

        .head {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 500px; // ✅ fixed width
            margin-top: 50px;

            p {
                font-size: 20px;
                font-weight: 500;
            }

            .img {
                height: 50px;
            }
        }

        .one {
            align-items: start;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            h2 {
                font-weight: 600;
                font-size: 30px;
                margin-bottom: 10px;
            }

            p {
                color: #7F7D83;
                margin: 0;
            }
        }

        .two {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .fields {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .fie {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    text-align: start;

                    .required {
                        color: blue;
                    }
                }
            }

            // .vid {
            //     display: flex;
            //     flex-direction: row;
            //     gap: 20px;
            //     align-items: center;

            //     mat-divider[vertical] {
            //         width: 50px;
            //         height: 24px;
            //         /* or 100% if you want full height */
            //     }
            // }
            .custom-input {
                width: 100%;
                height: 50px;
                background-color: white;
                border: 1px solid #E4E7EC;
                border-radius: 8px;
                padding: 0 12px;
                font-size: 14px;
                outline: none;
                box-sizing: border-box;
            }
        }

        i {
            font-size: 100px;
            font-weight: bold;
            color: black;
            margin-bottom: 30px;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 500px; // ✅ fixed width
        }


        // .full-j {
        //     font-size: 20px;
        //     width: 100%;
        //     color: white;
        //     background-color: black;
        //     /* you can remove margin-bottom now, gap handles it */
        // }

        // .options {
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     /* margin-bottom no longer needed thanks to form gap */

        //     a {
        //         text-decoration: none;
        //         color: black;
        //         font-size: 25px;
        //     }

        //     mat-checkbox {

        //         /* this class wraps the text inside the checkbox component */
        //         .mat-checkbox-label {
        //             font-size: 30px;
        //         }
        //     }

        // }

        .google-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sign-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2a68c5;
            border-radius: 10px;
            color: white;
            height: 45px;
            margin-bottom: 50px;
        }

        .google-button img {
            margin-right: 8px;
        }

        // .signup-text {
        //     font-size: 25px;
        //     margin-top: 20px;

        //     a {
        //         text-decoration: none;
        //         color: black;
        //         font-size: 25px;
        //     }
        // }
    }

    .login-right {
        flex: 1;
        background: url("/assets/images/sign.png") no-repeat center center;
        background-size: cover;
        border-radius: 20px;
        margin: 20px;
      }      
      


    // .login-right {
    //     flex: 1;
    //     background: white;
    //     color: white;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     margin: 20px;

    //     .img {
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
}