<app-layout [data]="displayedActions()" [rowTemplate]="actionRow">
    <section toolbar class="tb">
        <div class="dd">
            <div class="dropdown-group">
                <label class="dropdown-label">Appointment Date</label>
                <div class="custom-select-wrapper" matTooltip="filter appointment date">
                    <span class="icon fa-regular fa-calendar-days"></span>
                    <select>
                        <option [ngValue]="null">appointment date</option>
                        <!-- <option *ngFor="let empsta of employmentstatus()" [ngValue]="empsta">
                            {{ empsta.name }}
                        </option> -->
                    </select>
                    <span class="arrow material-icons">expand_more</span>
                </div>
            </div>
            <div class="dropdown-group">
                <label class="dropdown-label">Completed By</label>
                <div class="custom-select-wrapper" matTooltip="filter completed by">
                    <span class="icon fa-solid fa-user-tie"></span>
                    <select>
                        <option [ngValue]="null">completed by</option>
                        <option *ngFor="let masta of mediators()" [ngValue]="masta">
                            {{ masta.first_name }} {{ masta.last_name }}
                        </option>
                    </select>
                    <span class="arrow material-icons">expand_more</span>
                </div>
            </div>
            <div class="dropdown-group">
                <label class="dropdown-label">Mediator</label>
                <div class="custom-select-wrapper" matTooltip="filter dediator">
                    <span class="icon fa-solid fa-user-tie"></span>
                    <select>
                        <option [ngValue]="null">mediator</option>
                        <option *ngFor="let empsta of mediators()" [ngValue]="empsta">
                            {{ empsta.first_name }} {{ empsta.last_name }}
                        </option>
                    </select>
                    <span class="arrow material-icons">expand_more</span>
                </div>
            </div>
            <div class="dropdown-group">
                <label class="dropdown-label">Search</label>
                <div class="search">
                    <input #inputRef type="text" placeholder="Search by action id, date created" class="search-input"
                        autofocus (input)="onSearch($event)" />
                </div>
            </div>
        </div>
        <div class="bn">
            <button class="btn" matTooltip="export to excel">
                Export To Excel
            </button>
        </div>
    </section>

    <tr header class="header-row">
        <td class="header-item">Action Id</td>
        <td class="header-item">Case Id</td>
        <td class="header-item">Completed By</td>
        <td class="header-item">Action Taken</td>
        <td class="header-item">Appointment Date</td>
        <td class="header-item">Appointment Time</td>
        <td class="header-item">Mediator Name</td>
        <!-- <td class="header-item">Remarks</td> -->
        <!-- <td class="header-item">Created At</td> -->
        <td class="header-item">Actions</td>
    </tr>

    <ng-template #actionRow let-action>
        <div class="body-container">
            <!-- Loading State -->
            <tr class="body-row" *ngIf="loading(); else caseOrNoData">
                <td colspan="8">
                    <!-- <mat-progress-bar class="black-bar" mode="buffer"></mat-progress-bar> -->
                    <p class="loading-text">Loading actions.....</p>
                </td>
            </tr>
            <ng-template #caseOrNoData>
                <ng-container *ngIf="action?.id; else noData">
                    <tr class="body-row">
                        <td class="sub">{{ action.id }}</td>
                        <td class="red">{{ action.case }}</td>
                        <td class="sub">{{ action.completed_by?.first_name }} {{ action.completed_by?.last_name }}
                        </td>
                        <td class="ac">{{ action.action_taken }}</td>
                        <td>{{ action.appointment_date }}</td>
                        <td>{{ action.appointment_time }}</td>
                        <td class="sub">{{ action.mediator?.first_name }} {{ action.mediator?.last_name }}</td>
                        <!-- <td>{{ action.remarks }}</td> -->
                        <td>
                            <button class="elip" matTooltip="view more">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
            <ng-template #noData>
                <tr class="body-row">
                    <td colspan="8" class="no-data">No data available</td>
                </tr>
            </ng-template>
        </div>
    </ng-template>


    <td header-item class="header-item">Count: {{ actionCount() }}</td>
    <div taskbar class="taskbar">
        <p>Rows Per Page: {{ pageSize }}</p>

        <button mat-icon-button>
            <div class="circle">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </button>

        <mat-menu #pageSizeMenu="matMenu">
            <button mat-menu-item *ngFor="let size of [5, 10, 20]" (click)="changePageSize(size)">
                {{ size }}
            </button>
        </mat-menu>

        <p>Page {{ currentPage }} of {{ totalPages }}</p>

        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
            <div class="circle">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </button>

        <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">
            <div class="circle">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </button>
    </div>
</app-layout>