/* Put these src/app/app.component.css */
* {
  box-sizing: border-box;
  color: white;
  align-content: center;
}

header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  padding: 10px 150px;
  height: 80px;
}

p {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  h3 {
    color: black;
  }
}

i {
  color: black;
  font-size: 20px;
  cursor: pointer;
  /* ✅ Shows the hand/pointer on hover */
}

i:hover {
  color: blue;
  /* Change color on hover */
  transform: scale(1.1);
  /* Slight zoom */
  transition: 0.2s ease-in-out;
}

.uti {
  display: flex;
  gap: 30px;
  align-items: center;
}

.img {
  height: 40px;
  // width: auto;
}