<main>
    <header class="header">
        <div class="title">
            <img class="img" src="assets/images/lac_logo.png" alt="Apartment photo" />
            <h3>
                Legal Aid Commission
            </h3>
        </div>
        <div class="uti">
            <img class="img" src="assets/images/ava.png" alt="Apartment photo" />
            <i class="fa-regular fa-bell"></i> <i class="fa-solid fa-arrow-right-from-bracket" (click)="signOut()"></i>
        </div>
    </header>
    <mat-divider></mat-divider>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <footer class="footer">
        <p>
            Designed By <a href="https://ams1one.com/" target="_blank" rel="noopener noreferrer">AMS1One Solutions</a>
        </p>
        <p>
            © 2025 Legal Aid Comission - All rights reserved </p>
        <div class="last">
            <p>
                Terms & Conditions </p>
            <p>
                Cookies </p>
            <p>
                Privacy Policy </p>
        </div>
    </footer>
</main>