<main>
    <header class="header">
        <div class="title">
            <img class="img" src="assets/images/lac_logo.png" alt="Apartment photo" />
            <h3>
                Legal Aid Commission
            </h3>
        </div>
        <div class="uti">
            <!-- <p>{{username}}</p>
            <p>{{group}}</p> -->
            <img class="img" src="assets/images/ava.png" alt="Apartment photo" />
            <i class="fa-regular fa-bell"></i> <i class="fa-solid fa-arrow-right-from-bracket" (click)="signOut()"></i>
        </div>
    </header>
    <mat-divider></mat-divider>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</main>