<div class="container">
    <h2>dashboard works</h2>
    <!-- <section class="card">
        <div>
            <p style="color:rgb(245, 49, 49)">Applications</p>
            <span style="color:white">{{ applicationCount() }}</span>
        </div>
        <div>
            <p style="color:rgb(0, 158, 0)">Cases</p>
            <span style="color:white">{{ caseCount() }}</span>
        </div>
        <div>
            <p style="color:rgb(51, 51, 222)">Actions</p>
            <span style="color:white">{{ actionCount() }}</span>
        </div>
        <div>
            <p style="color:rgb(245, 49, 49)">Pending</p>
            <span style="color:white">{{ applicationCount() }}</span>
        </div>
        <div>
            <p style="color:rgb(0, 158, 0)">Action Taken</p>
            <span style="color:white">{{ caseCount() }}</span>
        </div>
    </section> -->
    <!-- <section class="chart-row">
        <div class="chart-box">
            <canvas baseChart [type]="'pie'" [data]="pieChartData" [options]="pieChartOptions"></canvas>
        </div>
        <div class="chart-box">
            <canvas baseChart [data]="horizontalBarChartData" [options]="horizontalBarChartOptions" [type]="'bar'">
            </canvas>
        </div>
        <div class="chart-box">
            <canvas baseChart [type]="'bubble'" [data]="bubbleChartData" [options]="bubbleChartOptions"></canvas>
        </div>
    </section> -->
</div>