<div class="container">
    <section class="head">
        <h2>Overview</h2>
        <p>July 14th 2025</p>
    </section>
    <section class="one">
        <div class="cards">
            <div class="card-header">
                <span class="title">Applications <span class="subtitle">/ Total</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ applicationCount() }}</h2>
                <p class="change negative">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Cases <span class="subtitle">/ Day</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ caseCount() }}</h2>
                <p class="change pos">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Actions <span class="subtitle">/ Week</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ actionCount() }}</h2>
                <p class="change negative">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Applications <span class="subtitle">/ Day</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ applicationCount() }}</h2>
                <p class="change pos">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-header">
                <span class="title">Cases <span class="subtitle">/ Day</span></span>
            </div>
            <div class="card-body">
                <h2>{{ caseCount() }}</h2>
                <p class="change negative">+18% <span>25 last week</span></p>
            </div>
        </div> -->
    </section>
    <section class="one">
        <div class="cards">
            <div class="card-header">
                <span class="title">Applications <span class="subtitle">/ Rejected</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ applicationCount() }}</h2>
                <p class="change pos">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Cases <span class="subtitle">/ Accepted</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ caseCount() }}</h2>
                <p class="change negative">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Actions <span class="subtitle">/ Pending</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ actionCount() }}</h2>
                <p class="change pos">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <div class="cards">
            <div class="card-header">
                <span class="title">Applications <span class="subtitle">/ Action Taken</span></span>
                <!-- <span class="icon">📊</span> -->
            </div>
            <div class="card-body">
                <h2>{{ applicationCount() }}</h2>
                <p class="change negative">▼ 18% <span>last week</span></p>
            </div>
            <div class="card-footer">
                <div class="chart"></div>
                <span class="percentage">18%</span>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-header">
                <span class="title">Cases <span class="subtitle">/ Day</span></span>
            </div>
            <div class="card-body">
                <h2>{{ caseCount() }}</h2>
                <p class="change negative">+18% <span>25 last week</span></p>
            </div>
        </div> -->
    </section>
    <!-- <section class="chart-row">
        <div class="chart-box">
            <canvas baseChart [data]="horizontalBarChartData" [options]="horizontalBarChartOptions" [type]="'bar'">
            </canvas>
        </div>
    </section> -->
</div>